// colors

$white: #F3F3F3;
$orange: #FF7A00;
$black: #201e1e;

// usefull
@mixin flex($justify: center, $align: center, $direction: row) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
}

@mixin percent($argument) {
    $per: unquote($argument);

    &--#{$per} {

        list-style: none;
        padding: 20px 0;
        position: relative;
        color: $white;
        width: 100%;
        filter: brightness(1.2);
        transition: all 0.5s ease 0s;

        &:before {
            content: "";
            position: absolute;
            background: $black;
            height: .7rem;
            width: 100%;
            left: 0;
            bottom: 0;
            border-radius: 5px;
            border: 1px solid #111;
            border-color: #111 #323232 #323232 #111;
            background: linear-gradient(
                90deg,
                #2292dd40 calc(calc($per * 1%) + 4px),
                #1c1c1c calc(calc($per * 1%) + 4px)
            );
        }

        &:after {
            content: "";
            height: 11px;
            margin: 0 0 2px 0;
            background: $orange;
            border-radius: 5px;
            position: absolute;
            box-shadow: 0 0 5px 1px $orange;
            left: 3px;
            width: 0%;
            bottom: 0;
            width: calc(calc($per * 1%) - 2px);
        }

        &:hover, &:active {
            filter: brightness(1.5);
        }

        &:hover span:after, &:active span:after {
            right: calc(calc(calc(100 - $per) * 1%) - 60px);
            opacity: 1;
            background: $orange;
            color: $black;
            filter: brightness(.7);
        }

        span {
            font-weight: 500;

            &:after {
                position: absolute;
                right: -40px;
                top: 40px;
                counter-reset: percent $per;
                content: counter(percent);
                color: transparent;
                padding: 4px 6px;
                border-radius: 5px;
                font-weight: bold;
                pointer-events: none;
                transition: all 0.5s ease 0s;
            }
        }
    }
}